body {
   height: 100%; 
   margin: 0;
}
 
 
 /* .button {
    border-radius:7px;
    background-color: lightblue;
    padding: 10px;
    font-weight: 700;
    border-style: none;
 }

 .input-field {
   width: 300px;
   margin: 10px;
   font-size: 20px;
   border-radius: 5px;
} */
 