
.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    max-height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
 }

 .layout {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }